<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Svg" publicKeyToken="12a0bac221edeae2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.29446" newVersion="2.4.3.29446" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>