<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HslScada.Controls_Net45.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <HslScada.Controls_Net45.My.MySettings>
            <setting name="BackGroundBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ListViewColumns" serializeAs="String">
                <value>Tag Name.Tag Value.Time</value>
            </setting>
            <setting name="Button6BackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Button9BackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Button7BackColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="Button8BackColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ChkAlarmOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkAlarmOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkAlarmVariation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChkAlarmAck" serializeAs="String">
                <value>True</value>
            </setting>
        </HslScada.Controls_Net45.My.MySettings>
    </userSettings>
</configuration>
